<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="./img/100.png" rel="shortcut icon" type="image/x-icon"/>
  <title>山野楽器：楽器オンライン通販サイトYAMANO MUSIC Online</title>
  <script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.16.0/axios.min.js"></script>
	<link rel="stylesheet" href="./css/wjzh.css">
</head>
<body>
  <div id="body1235">
<div class="top"></div>
<div class="bigkuang">
<!-- 顶部导航开始 -->
     
     <header class="logo">
        <a href="./YAMANOMUSICOnline">
        	<img src="./img/logo.gif" alt="">
        </a>
        <ul class="logo1">
            <li><a href=""><img src="./img/002.gif" alt=""></a></li>

            <li><a href=""><img src="./img/001.gif" alt=""></a></li>

            <li><a href=""><img src="./img/003.gif" alt=""></a></li>
        </ul>

        <span>いらっしゃいませ ゲスト さま</span>

        <div class="abc">
            <input type="text" placeholder="楽器を探す">
             <a href=""><img src="./img/004.gif" alt=""></a>
          
        </div>

        <div class="menu">
          <ul>
        	<li><a href="http://www.yueqi1803h5.com/hard/docs/hard/help.jsp">ご利用・ご注文方法</a></li>
        	<li><a href="http://www.yueqi1803h5.com/docs/sitemap/index.html">サイトマップ</a></li>
        	<li><a href="http://www.yueqi1803h5.com/info/">お問い合わせ</a></li>
          </ul>
        </div>

        <div class="emm">
          <ul>
            <li>&nbsp;&nbsp;&nbsp;<img src="./img/1.gif" alt=""></li>
            <li><a href="./dl">ログイン</a></li>
            <li>&nbsp;&nbsp;&nbsp;<img src="./img/2.gif" alt=""></li>
            <li><a href="./zc" target="_blank">新規登録</a></li>
            <li>&nbsp;&nbsp;<img src="./img/3.gif" alt=""></li>
            <li><a href="./gwc">ショッピングカート</a></li>
          </ul>
        </div>
     </header>
<!-- 顶部导航结束 -->

<!-- 主页面开始 -->
     <div class="divbox">
         <h1>パスワードの確認</h1>
     </div>

     <div class="divboxx">
     <div class="divbox1">
         <p><a href="./YAMANOMUSICOnline">楽器オンラインショップ </a>> パスワードの確認</p>
     </div>



     <form action="">
         <p class="p1-12">お客様が登録時に設定されたパスワードヒントを表示します。 </p>
         <p>本人確認のため、表示されたパスワードヒントにお答えください。</p>

         <table class="ta1">
          <tbody>


          <tr>
            <th>
            
            <p>パスワードヒント</p>
            </th>
            <td>
            <p>  {{passwdwt}}</p>
            </td>
          </tr>
          <tr>
            <th>
            <ul>
            <li><p>答えを入力</p></li>
            </ul>
            </th>
            <td>
            <p><div class="np61"><input class="pu1171" type="text" name="" v-model="passwdwtda"></div></p>
            <p class="cap16">（全角）</p>
            </td>
          </tr>

           </tbody>

         </table>
     </form>

     <p class="w11">
        <a href="#"><input type="button"  src="" value="次 へ" @click="login"/></a>
</p>

          </div>	
	<!-- 主页面结束 -->
</div>	

<!-- 底部导航开始 -->
     <div class="bottom">
           <!--  <div class="bottom1">
              <ul>
                <li> --><a href="http://www.yueqi1803h5.com/company/law/">特定商取引法に基づく表記(楽器)</a><!-- </li>
                <li> -->&nbsp;&nbsp;｜&nbsp;&nbsp;<!-- </li>
                <li> --><a href="http://www.yueqi1803h5.com/company/law/#anc_02">古物営業法に基づく表記</a><!-- </li>
                <li> -->&nbsp;&nbsp;｜&nbsp;&nbsp;<!-- </li> -->
                <!-- <li class="li1"> --><a href="http://www.yueqi1803h5.com/company/privacy_policy/">個人情報について</a><!-- </li>
              </ul> -->
           <!--  </div> -->
           <!--  <div class="bottom2"> -->
              <!-- <p> -->　　<br> 山野楽器オンラインショップに掲載されているすべてのコンテンツ（記事、画像データなど）は、（株）山野楽器の承諾なく無断で掲載および転載できません。<!-- </p> -->
            <!-- </div>
            <div class="bottom3">
              <p> -->  <br> copyright Yamano Music co. All rights reserved.<!-- </p>
            </div> -->
<!-- 底部导航结束 -->
     </div>
    </div>
</body>
</html>
<script src="./js/wjmm1.js"></script>