<% include head.html %>
    <div id="main-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN THEME CUSTOMIZER-->
                    <div id="theme-change" class="hidden-phone">
                        <i class="icon-cogs"></i>
                        <span class="settings">
                            <span class="text">Theme Color:</span>
                        <span class="colors">
                                <span class="color-default" data-style="default"></span>
                        <span class="color-green" data-style="green"></span>
                        <span class="color-gray" data-style="gray"></span>
                        <span class="color-purple" data-style="purple"></span>
                        <span class="color-red" data-style="red"></span>
                        </span>
                        </span>
                    </div>
                    <!-- END THEME CUSTOMIZER-->
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        音管理
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">主页</a>
                            <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="#">音管理</a>
                            <span class="divider">/</span>
                        </li>
                        <li class="active">
                            50音列表
                        </li>
                    </ul>
                </div>
            </div>
            <div id="page-wraper">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="widget orange">
                            <div class="widget-title">
                                <h4><i class="icon-reorder"></i> 50音列表</h4>
                                <span class="tools">
                                <a href="javascript:;" class="icon-chevron-down"></a>
                                <a href="javascript:;" class="icon-remove"></a>
                            </span>
                            </div>
                            <div class="widget-body">
                                <table class="table table-striped table-bordered table-advance table-hover">
                                    <thead>
                                        <tr>
                                            <th><i class="icon-bullhorn"></i> ID</th>
                                            <th class="hidden-phone"><i class="icon-question-sign"></i> 名称</th>
                                            <th><i class="icon-bookmark"></i> 操作人</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(cate of catelist){ %>
                                            <tr>
                                                <td>
                                                    <a href="#">
                                                        <%=cate.sounid%>
                                                    </a>
                                                </td>
                                                <td class="hidden-phone" contenteditable="false">
                                                    <%=cate.catename%>
                                                </td>
                                                <td>
                                                    <%=cate.username%>
                                                </td>
                                                <td>
                                                    <button class="btn btn-primary delcate" cid="<%=cate.cid%>"><i class="icon-pencil"></i></button>
                                                    <button class="btn btn-primary delcate" cid="<%=cate.cid%>" dele="0" style="display: none;"><i class="icon-pencil"></i></button>
                                                    <button class="btn btn-danger delcate" cid="<%=cate.cid%>" dele="1"><i class="icon-trash "></i></button>
                                                </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include foot.html %>